---
layout: default
top: Open Data Science
feed: atom.xml
---
<!-- Twitter script -->
<script type="text/javascript">
  window.twttr = (function (d, s, id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src= "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
  </script>

<!-- Scripts for ggvis from http://ggvis.rstudio.com/0.1/interactivity.html-->
<!-- ggvis stuff -->
<script src="http://ggvis.rstudio.com/0.1/libs/ggvis/lib/jquery-1.11.0.min.js"></script>
<script src="http://ggvis.rstudio.com/0.1/libs/ggvis/lib/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>
<script charset="utf-8" src="http://ggvis.rstudio.com/0.1/libs/ggvis/lib/d3.min.js"></script>
<script src="http://ggvis.rstudio.com/0.1/libs/ggvis/lib/vega.min.js"></script>
<script src="http://ggvis.rstudio.com/0.1/libs/ggvis/lib/QuadTree.js"></script>
<script src="http://ggvis.rstudio.com/0.1/libs/ggvis/lib/lodash.min.js"></script>
<script>var lodash = _.noConflict();</script>
<script src="http://ggvis.rstudio.com/0.1/libs/ggvis/js/ggvis.js"></script>
<link rel="stylesheet" type="text/css" href="http://ggvis.rstudio.com/0.1/libs/ggvis/lib/jquery-ui/css/smoothness/jquery-ui-1.10.4.custom.min.css"/>
<link rel="stylesheet" type="text/css" href="http://ggvis.rstudio.com/0.1/libs/ggvis/css/ggvis.css"/>
  <!-- end of ggvis scripts-->

<div id="header">
	{% include nav-blog.html %}
</div>

<div id="page">

  <h1 class="emphnext">{{ page.title }}</h1>

{{ content }}

  <!-- Show signature, date, location, tags -->
  <address class="signature">
    <a class="author" href="http://ouzor.github.io">Juuso Parkkinen</a>
    Tags:
    {% for tag in page.tags %}
      {{ tag }}
      {% if forloop.last != true %}, {% endif %}
    {% endfor %}
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>
  
  <!-- FIXME: put buttons in the same row! --> 
  <!-- Twitter buttons, based on https://dev.twitter.com/web/follow-button
  and https://dev.twitter.com/web/tweet-button-->
  <a class="twitter-follow-button" href="https://twitter.com/ouzor"
  data-show-count="false" data-lang="en">Follow @ouzor </a>
  <a class="twitter-share-button" href="https://twitter.com/share"> Tweet </a>

  <!-- Facebook button, based on https://developers.facebook.com/docs/plugins/like-button -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="fb-like" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
  
</div>
<!-- End Page -->

<!-- Disqus comments, following 
 https://help.disqus.com/customer/portal/articles/472138-jekyll-installation-instructions
 -->
{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'juusosblog'; // required: replace example with your forum shortname
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
    </script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}



<!-- Discus Comments by Mreid-->
<!--<div id="disqus_thread"></div>
-->
<!-- Enable Disqus comments -->
<!--
 <script type="text/javascript">
	var disqus_iframe_css = "http://mark.reid.name/css/screen.css";
	var disqus_title = "{{ page.title }}";
	var disqus_message = "{{ page.excerpt }}";
</script>
<script type="text/javascript" src="http://disqus.com/forums/ouzor/embed.js"></script>

<noscript>
		<a href="http://markreid.disqus.com/?url=ref">View the discussion thread.</a>
</noscript>
-->

<!-- Delicious hits
 <script type="text/javascript">
 if (typeof window.Delicious == "undefined") window.Delicious = {};
 Delicious.BLOGBADGE_DEFAULT_CLASS = 'delicious-blogbadge-line';
 </script>
 <script src="http://static.delicious.com/js/blogbadge.js"></script>
 -->

